*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
}
nav{
    padding: 20px;
    height: 15vh;
    width: 100vw;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight: 600;
}
nav ul li img{
    width: 100px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    height: 85%;
}
.left-main{
    width: 40%;
}
.left-main h1{
    font-size: 60px;
}
.left-main p{
    margin: 5% 0;
}
.left-main button{
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 15px;
}
.right-main{
    width: 60%;
    padding-left: 7%;
}
.right-main div img{
    margin: 1%;
}
